<li class="collection-item avatar">
  <img src=<%= image_path('p6.seal.png') %> alt="" class="circle">
  <span class="title"><%= investigator.email  %></span>
  <p>Is Admin? <%= investigator.admin %></p>
</li>
