%div.row
  %div.single-complaint.complaint-container.col.s12.z-depth-2

    %h5.montserrat-header-bold Additional Precautions
    %p We appreciate your interest in submitting a report. Please note we have created this form to be as anonymous as possible when not submitting contact information. However there are additional steps to consider if privacy is a concern:

    %ul
    %li Do not submit tips from a work computer, phone, or mobile device.
    %li Consider using a #{link_to 'TOR', 'https://www.torproject.org/index.html.en', :target => '_blank'} or #{link_to 'VPN', 'https://en.wikipedia.org/wiki/Virtual_private_network', :target => '_blank'}
    %br

