%div.row
  %div.single-complaint.complaint-container.col.s12.z-depth-2

  %div.col.s12
    %h5.montserrat-header-bold Additional Precautions
    %p We appreciate your interest in submitting a report. If you are not providing contact information please note we have created this form to be as anonymous as possible. However there are additional steps to be considered:

    %ul
    	%li Do not submit tips from a work computer or mobile device.
    	%li Consider using a TOR browswer or VPN 