%div.row
  %div.single-complaint.complaint-container.col.s12.z-depth-2

    - if flash[:notice]
      %div.new-complaint-notice
        %p.complaint-key="Complaint key: #{flash[:notice]}"
        %p="Save this key! It is your password to communicate anonymously with the Project Six team and see the status of your request(?). You can revisit this page by providing this key on the submission page."

    %div.row
      %div.col.s12
        %h5 Details of Complaint:
        =@complaint.content
    -if @complaint.media
      %div.row
        %div.col.s12
          %h5 Files:
          -@complaint.media.each do |url|
            %a{ :href => url, :title => "View attachment" }
              =File.basename(url.to_s)
            %br
    %div.row
      %div.col.s12
        %div
          %span{ :style => "font-weight: bold;" }Created:
          %span=@complaint.created_at.strftime("%Y/%m/%d")
        %div
          %span{ :style => "font-weight: bold;" }Contact Info:
          %span=@complaint.user.to_s

%a.waves-effect.waves-light.btn{ href: complaints_path } Back
