<!-- WE STOLE THIS -->

<header class="main-header home-header">
  <div class="container-fluid" id="header-container">

    <div class="col-md-4 header-logo-wrapper">
      <a href="https://thesecretsix.com/">
        <%= image_tag("p6.logo.svg", class: "header-logo") %>
        <!-- <img class="header-logo" src="" alt="Project Six"> -->
      </a>
    </div>

    <nav class="header-nav">
      <div class="single-nav-item">
        <li class="nav-main-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-157 menu-item-has-children">
          <a class="nav-main-link" href="https://thesecretsix.com/about/">About</a>
        </li>

        <div class="nav-drop-wrapper">
          <ul class="nav-drop">
            <li class="nav-drop-item"><a class="nav-dropdown-link" href="https://thesecretsix.com/team/">Team</a></li>
          </ul>
        </div>
      </div>
      <div class="single-nav-item">
        <li class="nav-main-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-158">
          <a class="nav-main-link" href="https://thesecretsix.com/investigations/">Investigations</a>
        </li>

      </div>
      <div class="single-nav-item">
        <li class="nav-main-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-159">
          <a class="nav-main-link" href="https://thesecretsix.com/articles/">Articles</a>
        </li>

      </div>
      <div class="single-nav-item">
        <li class="nav-main-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-160">
          <a class="nav-main-link" href="https://thesecretsix.com/contact/">Contact</a>
        </li>

      </div>
      <div class="single-nav-item">
        <li class="nav-main-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-161 menu-item-has-children">
          <a class="nav-main-link" href="https://thesecretsix.com/press/">Press</a>
        </li>

        <div class="nav-drop-wrapper">
          <ul class="nav-drop">
            <li class="nav-drop-item"><a class="nav-dropdown-link" href="https://thesecretsix.com/media-appearances/">Media Appearances</a></li>
            <li class="nav-drop-item"><a class="nav-dropdown-link" href="https://thesecretsix.com/press-releases/">Press Releases</a></li>
          </ul>
        </div>
      </div>
      <div class="single-nav-item">
        <li class="nav-main-item donate-link menu-item menu-item-type-post_type menu-item-object-page menu-item-164">
          <a class="nav-main-link" href="https://thesecretsix.com/donate/">Donate</a>
        </li>

      </div>
    </nav>

    <ul class="socials">

      <a class="inactive" href="https://twitter.com/P6Chicago" target="_blank"><li class="social-li"><i class="fa fa-twitter"></i></li></a>
      <a class="inactive" href="https://www.facebook.com/secretsix" target="_blank"><li class="social-li"><i class="fa fa-facebook"></i></li></a>

    </ul>

    <div class="inline search-show">

      <label for="search-show" class="search-show-label"><i class="fa fa-search" aria-hidden="true"></i></label>

    </div>

    <div class="show-mobile-menu">
      <label for="show-menu"><i class="fa fa-bars" aria-hidden="true"></i></label>
    </div>

    <input type="checkbox" id="show-menu">

    <div class="mobile-menu">

      <div class="mobile-close">
        <label for="show-menu">Close <i class="fa fa-times" aria-hidden="true"></i></label>
      </div>

      <nav class="mobile-nav">
        <div class="single-nav-item">
          <li class="nav-main-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-157 menu-item-has-children">
            <a class="nav-main-link" href="https://thesecretsix.com/about/">About</a>
          </li>

          <div class="nav-drop-wrapper">
            <ul class="nav-drop">
              <li class="nav-drop-item"><a class="nav-dropdown-link" href="https://thesecretsix.com/team/">Team</a></li>
            </ul>
          </div>
        </div>
        <div class="single-nav-item">
          <li class="nav-main-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-158">
            <a class="nav-main-link" href="https://thesecretsix.com/investigations/">Investigations</a>
          </li>

        </div>
        <div class="single-nav-item">
          <li class="nav-main-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-159">
            <a class="nav-main-link" href="https://thesecretsix.com/articles/">Articles</a>
          </li>

        </div>
        <div class="single-nav-item">
          <li class="nav-main-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-160">
            <a class="nav-main-link" href="https://thesecretsix.com/contact/">Contact</a>
          </li>

        </div>
        <div class="single-nav-item">
          <li class="nav-main-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-161 menu-item-has-children">
            <a class="nav-main-link" href="https://thesecretsix.com/press/">Press</a>
          </li>

          <div class="nav-drop-wrapper">
            <ul class="nav-drop">
              <li class="nav-drop-item"><a class="nav-dropdown-link" href="https://thesecretsix.com/media-appearances/">Media Appearances</a></li>
              <li class="nav-drop-item"><a class="nav-dropdown-link" href="https://thesecretsix.com/press-releases/">Press Releases</a></li>
            </ul>
          </div>
        </div>
        <div class="single-nav-item">
          <li class="nav-main-item donate-link menu-item menu-item-type-post_type menu-item-object-page menu-item-164">
            <a class="nav-main-link" href="https://thesecretsix.com/donate/">Donate</a>
          </li>

        </div>
      </nav>

      <section class="mobile-search-bar">
        <div class="search-input-wrapper">
          <form action="https://thesecretsix.com/" method="GET" role="search">
            <input type="text" class="search-input" name="s" placeholder="Enter Search Terms ..." value=""><button class="std-button search-button inline">Search</button>
          </form>
        </div>
      </section>

      <ul class="mobile-socials">

        <a class="inactive" href="https://twitter.com/P6Chicago" target="_blank"><li class="social-li"><i class="fa fa-twitter"></i></li></a>
        <a class="inactive" href="https://www.facebook.com/secretsix" target="_blank"><li class="social-li"><i class="fa fa-facebook"></i></li></a>

      </ul>

    </div>

  </div>
</header>


<!-- WE STOLE THIS -->
